html,
body {
    background-color: #2c2c2c;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('../img/login/login_bg.gif') 
        no-repeat center;
    background-size: cover;
}

.card-container {
    width: 45rem;
    height: 30rem;
    border: 2px solid rgba(255, 123, 255, 0.667);
    margin: 0 auto;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.glass-effect {
    background: rgba(222, 172, 241, 0.3);
    backdrop-filter: blur(0.8rem);
    -webkit-backdrop-filter: blur(0.8rem);
}

h1 {
    text-align: center;
    font-size: 2.2rem;
    color: white;
    margin-bottom: 4rem;
}

.btn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
    text-decoration: none;
    border: 2px solid rgba(255, 123, 255, 0.667);
    border-radius: 1rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1rem;
}

.btn:hover {
    transform: translateY(-5px);
}

.button {
    width: 50%;
    max-width: 15rem;
    padding: 0.8rem;
    color: white;
    font-size: 1rem;
    border: 2px solid rgba(255, 123, 255, 0.667);
    border-radius: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-5px);
}

.button a {
    color: white;
}

.sign {
    display: flex;
    width: 35rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 2px solid rgba(255, 123, 255, 0.667);
    border-radius: 0.3rem;
    background: rgba(222, 172, 241, 0.3);
    font-size: 1.1rem;
    color: white;
}

input::placeholder {
    color: white;
    font-size: 1rem;
}

a {
    color: white;
}
