<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Download Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="img/fav.png" type="image/x-icon">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.0/css/boxicons.min.css">
        <link rel="stylesheet" href="/Css/estilojuegos.css">
    </head>
    <body>
        
        <div class="progress">
            <div class="progress-bar" id="scroll-bar"></div>
        </div>

        <header>
            <div class="nav container">

                <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="/img/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Index.html">Inicio</a></li>
                    <li><a href="Informació.html">Servicios</a></li>
                    <li><a href="login.html">Iniciar sesión</a></li>
                    <li><a href="http://localhost/wordpress/?page_id=153">Contacto</a></li>
                    <li class="logo-item"><a href="#" class="logo"><img
                    src="/img/image__1_-removebg-preview (1) (1).png" alt="New Era Games logo"></a></li>
                </ul>
            </nav>
        </div>

            </div>
        </header>

        <div class="about container">
            <h2>About Game</h2>
            <p>There are plenty of examples of this kind of game on moble devices, being...
            </p>
        </div>

        <div class="screenshots container">
            <h2>Screenshots</h2>
            <div class="screenshots-content">
                <img src="img/screenshots1.jpg" alt="">
                <img src="img/screenshots2.jpg" alt="">
                <img src="img/screenshots3.jpg" alt="">
            </div>
        </div>

        <div class="download">
            <h2>Download Links</h2>
            <div class="download-links">
                <a href="#">For Android</a>
                <a href="#">For Ios</a>
                <a href="#">For Windows</a>
            </div>
        </div>

        <div class="copyright container">
            <a href="#" class="logo">Game <span>Store</span></a>
            <p>&#169; CarpoolVenom All Right Reserved</p>
        </div>

    <script src="/js/swiper-bundle.min.js"></script>



            <script src="/js/main.js" async defer></script>
    </body>
</html>