<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Era Games</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/informacion.css">
    <link rel="icon" href="/img/1-17e21c9a.ico">
</head>

<body>
    <header class="header">

        <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="/img/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Index.html">Inicio</a></li>
                    <li><a href="Informació.html">Servicios</a></li>
                    <li><a href="login.html">Iniciar sesión</a></li>
                    <li><a href="contactos.html">Contacto</a></li>
                    <li class="logo-item"><a href="#" class="logo"><img
                                src="/img/image__1_-removebg-preview (1) (1).png" alt="New Era Games logo"></a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>Nuestros <span>Servicios</span></h1>
                <p>
                    En <strong>New Era Games</strong>, nos enorgullece ofrecer una amplia gama de servicios para <strong>satisfacer las
                    necesidades</strong> de nuestros clientes. Nuestro equipo de expertos está dedicado a brindar soluciones
                    personalizadas y de alta calidad en el mundo de los videojuegos.
                </p>
                <div class="butons">
                    <a href="#"></a>
                    <a href="#" class="btn-1">Información</a>
                    <a href="#" class="btn-1">Juegos</a>
                </div>
            </div>
        </div>
    </header>

    <section class="popular-container container">
        <h2>Nuestros servicios</h2>
        <div class="popular-content">
            <div class="popular-card">
                <h3>Desarrollo de videojuegos</h3>
                <p>Ofrecemos servicios de desarrollo de videojuegos personalizados para satisfacer las necesidades de nuestros clientes. Nuestro equipo de expertos en desarrollo de videojuegos trabaja en estrecha colaboración con nuestros clientes para crear juegos únicos y emocionantes que se adapten a sus necesidades y objetivos.</p>
            </div>
            <div class="popular-card">
                <h3>Diseño gráfico</h3>
                <p>Ofrecemos servicios de diseño gráfico para ayudar a nuestros clientes a crear una imagen visual atractiva y coherente para sus juegos. Nuestro equipo de diseñadores gráficos trabaja en estrecha colaboración con nuestros clientes para crear diseños personalizados que se adapten a sus necesidades y objetivos.</p>
            </div>
            <div class="popular-card">
                <h3>Marketing digital</h3>
                <p>Ofrecemos servicios de marketing digital para ayudar a nuestros clientes a promocionar sus juegos y llegar a su público objetivo. Nuestro equipo de expertos en marketing digital trabaja en estrecha colaboración con nuestros clientes para crear campañas personalizadas que se adapten a sus necesidades y objetivos.</p>
            </div>
        </div>
    </section>

    <script src="/js/script.js"></script>
</body>

</html>