<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Era Games</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/informacion.css">
    <link rel="icon" href="/img/1-17e21c9a.ico">
</head>

<body>
    <header class="header">

        <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="/img/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Index.html">Inicio</a></li>
                    <li><a href="Informació.html">Servicios</a></li>
                    <li><a href="login.html">Iniciar sesión</a></li>
                    <li><a href="contactos.html">Contacto</a></li>
                    <li class="logo-item"><a href="#" class="logo"><img
                                src="/img/image__1_-removebg-preview (1) (1).png" alt="New Era Games logo"></a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>Nuestros <span>Servicios</span></h1>
                <p>
                    En <strong>New Era Games</strong>, nos enorgullece ofrecer una amplia gama de servicios para <strong>satisfacer las
                    necesidades</strong> de nuestros clientes. Nuestro equipo de expertos está dedicado a brindar soluciones
                    personalizadas y de alta calidad en el mundo de los videojuegos.
                </p>
                <div class="butons">
                    <a href="#"></a>
                    <a href="Index.html" class="btn-1">Inicio</a>
                    <a href="#" class="btn-1">Juegos</a>
                </div>
            </div>
        </div>
    </header>

    <section class="popular-container container">
        <h2>Nuestros servicios</h2>
        <div class="popular-content">
            <div class="popular-card">
                <h3>Visibilidad</h3>
                <p>Ofrecemos <strong>servicios de visibilidad</strong> para ayudar a nuestros clientes a destacar en el mercado de los videojuegos. Proporcionandoles estrategias efectivas de promoción y posicionamiento en línea.</p>
            </div>
            <div class="popular-card">
                <h3>Interactividad</h3>
                <p>Ofrecemos <strong>servicios de interactividad</strong> para mejorar la experiencia del jugador en nuestros juegos. Nuestro equipo de expertos en interactividad se asegura de que cada juego sea atractivo, intuitivo y entretenido para los usuarios.</p>
            </div>
            <div class="popular-card">
                <h3>Descubrir</h3>
                <p>Facilitamos el descubrimiento de <strong>nuevos juegos y contenido</strong> para nuestros clientes, ayudándoles a encontrar oportunidades únicas en el mercado de los videojuegos.</p>
            </div>
            <div class="popular-card">
                <h3>Comunidad</h3>
                <p>Hacemos que nuestros clientes puedan tener una <strong>comunidad activa y comprometida</strong> con sus juegos, fomentando la interacción y el engagement entre los jugadores.</p>
            </div>
            <div class="popular-card">
                <h3>Desarrollo</h3>
                <p>Ofrecemos <strong>servicios de desarrollo</strong> para ayudar a nuestros clientes a crear juegos innovadores y de alta calidad. Nuestro equipo de expertos en desarrollo se asegura de que cada proyecto cumpla con los más altos estándares de calidad y funcionalidad.</p>
            </div>
        </div>
    </section>

    <script src="/js/script.js"></script>
</body>

</html>