<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Iniciar Sesión</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../css/login.css">
    </head>
    <body>
        <header class="header">
            
            <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="/img/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="./templates/index.html">Inicio</a></li>
                    <li><a href="./templates/informacio.html">Servicios</a></li>
                    <li><a href="./templates/login.html">Iniciar sesión</a></li>
                    <li><a href="/templates/contacte.html">Contacto</a></li>
                    <li class="logo-item"><a href="#" class="logo"><img src="/img/image__1_-removebg-preview (1) (1).png" alt="New Era Games logo"></a></li>
                </ul>
            </nav>
        </div>
        </header>
        <div class="bg-container">
            <div class="btn glass-effect">
                <a href="/templates/Index.html">Volver al Inicio</a>
            </div>
            <div class="card-container glass-effect">
                <h1>Iniciar Sesión</h1>
                <input class="sign" type="text" name="email" id="email" placeholder="Email">
                <input class="sign" type="password" name="passwd" id="passwd" placeholder="Contraseña">
                <input class="glass-effect button" type="submit" value="Iniciar Sesión">
                <p><a href="../templates/register.html">No tengo una cuenta</a></p>
            </div>
        </div>
    </body>
</html>
