<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Iniciar Sesión</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../css/login.css">
    </head>
    <body>
        <div class="bg-container">
            <div class="btn glass-effect">
                <a href="/New Era Games/templates/index.html">Volver al Inicio</a>
            </div>
            <div class="card-container glass-effect">
                <h1>Iniciar Sesión</h1>
                <input class="sign" type="text" name="email" id="email" placeholder="Email">
                <input class="sign" type="password" name="passwd" id="passwd" placeholder="Contraseña">
                <input class="glass-effect button" type="submit" value="Iniciar Sesión">
                <p><a href="/New Era Games/templates/register.html">No tengo una cuenta</a></p>
            </div>
        </div>
    </body>
</html>
