<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Era Games</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style copy.css">
    <link rel="icon" href="/img/1-17e21c9a.ico">
</head>

<body>
    <header class="header">

        <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="/img/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="/templates/Index.html">Inicio</a></li>
                    <li><a href="/templates/Informacio.html">Servicios</a></li>
                    <li><a href="/templates/login.html">Iniciar sesión</a></li>
                    <li><a href="/templates/contacte.html">Contacto</a></li>
                    <li class="logo-item"><a href="#" class="logo"><img
                                src="/img/image__1_-removebg-preview (1) (1).png" alt="New Era Games logo"></a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>


</html>