<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Registrarse</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../css/register.css">
    </head>
    <body>
        <div class="bg-container">
            <div class="btn glass-effect">
                <a href="../templates/index.html">Volver al Inicio</a>
            </div>
            <div class="card-container glass-effect">
                <h1>Registrate!</h1>
                <input class="sign" type="text" name="nombre" id="nombre" placeholder="Nombre">
                <input class="sign" type="text" name="apellidos" id="apellidos" placeholder="Apellidos">
                <input class="sign" type="text" name="email" id="email" placeholder="Email">
                <input class="sign" type="password" name="passwd" id="passwd" placeholder="Contraseña">
                <input class="glass-effect button" type="submit" value="Registrarse">
                <p><a href="../templates/login.html">Ya tengo una cuenta :D </a></p>
            </div>
        </div>
    </body>
</html>
